<!DOCTYPE html>
<html>
<head>
  <title>Greeting</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h1><%= emoji %> Hello, <%= name %>! <%= emoji %></h1>
    <a href="/">Back to Form</a>
  </div>
</body>
</html>